<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="aboutPage">
        <h2>About Us</h2>
        <p>Welcome to Movie+, your ultimate destination for all things movies! 
            Founded by a team of passionate film enthusiasts, we are dedicated 
            to bringing the magic of cinema right to your fingertips. Whether 
            you’re a casual moviegoer, a dedicated cinephile, or just someone 
            looking to relax with a good film, we’ve got you covered.
        </p>
    </div>
    <%- include('./partials/status.ejs') %>
    </br></br>
    <%- include('./partials/auth.ejs') %>
    </br>
    <%- include('./partials/footer.ejs') %>
</body>
</html>