<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body >
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="indexPage">
            <h2>Welcome!</h2>
            <p>Movie+ was born out of a shared love for movies and a desire to create 
                a space where people could come together to enjoy and discuss cinema. 
                From Hollywood blockbusters to indie gems, our extensive library covers 
                a wide range of genres, eras, and styles. Our database is continuously 
                updated to ensure you have access to the latest releases as well as timeless classics.
            </p>
        </div>
        <%- include('./partials/status.ejs') %>
        </br></br>
        <%- include('./partials/auth.ejs') %>
        </br>
        <%- include('./partials/footer.ejs') %>
    </body>
</body>
</html> 