<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
		<div class="loginPage">
			<h2>Login</h2>
			<h3>Please Enter your information below!</h3>
			<form action="/auth" method="post">
				<label for="username">Username</label></br>
				<input type="text" name="username" placeholder="Username" id="username" required></br></br>
				<label for="password">Password</label></br>
				<input type="password" name="password" placeholder="Password" id="password" required></br></br>
				<input type="submit" value="Login">
			</form>
        </div>
		<%- include('./partials/status.ejs') %>
		</br></br>
        <%- include('./partials/auth.ejs') %>
		</br>
    	<%- include('./partials/footer.ejs') %>
</body>
</html>