<!DOCTYPE html>
<html lang="en">
    <style>
        body {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgb(67, 98, 252);
            text-align: center;
            height: auto;
        }

        h1 {
            color: rgb(244, 250, 51);
            font-size: 50px;
            text-decoration: underline;
            text-underline-offset: 0.5rem;
            text-shadow: 2px 2px 4px rgb(0, 0, 0);
            text-align: center;
        }

        h2 {
            color: rgb(0, 0, 0);
            text-align: center;
        }

        p {
            color: rgb(0, 0, 0);
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            margin-top: 40px;
        }
        .registerPage {
            background-color: rgb(241, 241, 241);
            padding: 20px;
            padding-left: 100px;
            padding-right: 100px;
            border-radius: 30px;
            border: 2px solid rgb(0, 0, 0);
            width: auto;
            height: auto;
            margin-left: 100px;
            margin-right: 100px;
        }

        nav {
            padding-bottom: 20px;
            text-align: center;
        }

        .auth {
            padding-bottom: 20px;
            text-align: center;
        }

        a {
            color: rgb(244, 250, 51);
            font-size: 20px;
            text-decoration: none;
            padding: 30px;
        }

        a:hover {
            color: rgb(25, 13, 151);
            text-decoration: underline;
            text-underline-offset: 0.5rem;
            text-decoration-color: rgb(25, 13, 151);
        }

        footer {
            background-color: rgb(241, 241, 241);
            padding: 20px;
            text-align: center;
            margin-top: 40px;
        }

        .bottom-nav {
            text-align: center;
        }

        .button {
            background-color: rgb(244, 250, 51);
            border: 2px solid rgb(0, 0, 0);
            border-radius: 25px;
            color: rgb(25, 13, 151);
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 10px;
            cursor: pointer;
            box-shadow: 2px 2px 4px rgb(54, 54, 54);
        }

        status {
            color: rgb(244, 250, 51);
            text-align: center;
            margin-top: 40px;
        }
    </style>

    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
        <div class="registerPage">
            <h2 class="blue">Register</h2>
            <h3>Please Enter your information below!</h3>
            <form action="/auth/new" method="POST">
                <label for="username">Name</label></br>
                <input type="text" id="username" placeholder="Name" name="username" required></br></br>
                <label for="email">Email</label></br>
                <input type="email" id="email" placeholder="Email" name="email" required></br></br>
                <label for="password">Password</label></br>
                <input type="password" id="password" placeholder="Password" name="password" required></br></br>
                <input type="submit" value="Register" class="button">
            </form>
        </div>
        <div class="bottom-nav">
            <%- include('./partials/status.ejs') %>
            </br></br>
            <%- include('./partials/auth.ejs') %>
            </br>
            <%- include('./partials/footer.ejs') %>
        </div>
</body>
</html>