<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
        <div class="searchPage">
            <form action="/search" method="POST">
                </br> 
                <% if (theResults.length > 0) { %>
                    <% theResults.forEach(item => { %>
                        <b>- <%= item.movie_name %></b> - <%= item.movie_genre %> - 
                        <%= item.director %> </br></br>
                    <% }) %>
                <% } else { %>
                    <p>No search results.</p>
                <% } %>
                <h2>Search for Movies!</h2>
            <!-- </br><label>Search for Movies:</label></br></br> -->
            <label>Keyword:
                <input type="text" id="keyword" name="keyword" value="<%= locals.keyword %>" required>
            </label>
            </br></br>
            <button>POST</button>
        </form></br>
        </div>
        <%- include('./partials/status.ejs') %>
        </br></br>
        <%- include('./partials/auth.ejs') %>
        </br>
        <%- include('./partials/footer.ejs') %>
</body>
</html>